/**
 * Author: Deleepa
 * Created: 02nd March 2016
 * Description: This CSS file contains the code that will control global styling for the
                system
 */

.card {
    background-color: #e6e6e6;
    padding: 0.5em;
    box-shadow: 2px 2px 1px #888888;
    margin-bottom: 2%;
}

.card > p {
    font-weight: bold;
}
.border-black {
    border: 1px solid black;
}

.border-red {
    border: 1px solid red;
}

.border-green {
    border: 1px solid green;
}

.border-blue {
    border: 1px solid blue;
}

.centered {
    text-align: center;
}