.border-black {
    border: 1px solid black;
}

.border-red {
    border: 1px solid red;
}

.border-green {
    border: 1px solid green;
}

.border-blue {
    border: 1px solid blue;
}

.card {
    background-color: #e6e6e6;
    box-shadow: 2px 2px 1px #888888;
}

.centered {
    text-align: center;
}