#userStory,#usDetails{
    overflow: auto;
    height: 40em;
    padding: .5rem;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: none;
}
.usCard{
	border: 1px solid grey;
	height: 3em;
	width: 6em;
	padding: 0.4em;
	margin: 0.5em;
}
li{
    cursor: pointer;
}